<div class="Navbar">
    <img src="assets/images/Jamport_transparent.png" class="Logo" height="60px">
    <div class="Link">
    <a href="" class="Home">Home</a>
    <select name="Artists" id="artists" class="Artists">
        <option value="Railey">Railey</option>
        <option value="T R E K">T R E K</option>
        <option value="Nigthfall">Nightfall</option>
        <option value="Santi">Santi</option>
      </select>
    <a href="" class="Contact">Contact</a>
    <a href="" class="Story">Our Story</a>
    </div>
</div>
