<div class="scroll">
    <div style="height: 10vh;" id="Seperator"></div>
    
    <div>
        <h1 class="Title" style="color: white;">Our Story:</h1>
        <p style="color: white; position: relative; left: 2%; width: 90%;">Jamport, a music label that specializes in distributing lofi music, was founded in 2022 by two talented artists, Railey
        and T R E K. Both artists had already established themselves as prominent figures in the lofi scene, and their shared
        passion for the genre led them to create a platform that would showcase other like-minded artists.
        <br>
        Railey, a lofi artist from Ulm, Germany, had been making music since he was a teenager. His music was dreamy,
        atmospheric and immersive, and his debut album, Memories, was a culmination of his diverse influences and experiences.
        The album showcased Railey's ability to blend electronic and live instrumentation to create nostalgic, melodic
        soundscapes that transported listeners to a world of hazy memories.
        <br>
        T R E K, on the other hand, had made a name for himself in the lofi scene with his unique blend of chill beats and
        dreamy soundscapes. His music was perfect for studying, working, or unwinding after a long day. With soft melodies, hazy
        samples, and a steady, relaxed rhythm, T R E K created a relaxing and introspective atmosphere that appealed to fans of
        lofi music worldwide.
        <br><br>
        Together, Railey and T R E K founded Jamport, a label that would be dedicated to discovering and promoting new talent in
        the lofi scene. They believed that lofi music had the power to transport listeners to a world of nostalgia and
        introspection, and they wanted to share this experience with as many people as possible.
        <br>
        Jamport's first release was Memories, Railey's debut album, which had already gained a cult following in the lofi
        community. The label's second release was Hazy Days, T R E K's latest album, which featured a dreamy, nostalgic track
        that showcased Railey's talent as a collaborator.
        <br>
        Since then, Jamport has released multiple albums and singles, including collaborations between Railey and T R E K. The
        label has become known for its commitment to promoting new talent in the lofi scene, and its releases have garnered
        critical acclaim and a loyal fanbase.
        <br>
        Jamport's success is a testament to the vision and dedication of its founders, Railey and T R E K. Their passion for
        lofi music has created a platform that not only promotes new talent but also offers fans of the genre an opportunity to
        discover and experience new sounds and artists. The label's future is bright, and fans of lofi music can look forward to
        many more releases from Jamport in the years to come.</p>
    </div>
</div>