<div class="scroll">
    <div style="height: 10vh;" id="Seperator"></div>
    
    <div>
        <h1 class="Title" style="color: white;">Our Story:</h1>
        <p style="color: white; position: relative; left: 2%; width: 80%;">Jamport is a small, independent record label that was founded in 2022 by music enthusiasts. They aim to discover and promote new and emerging artists, with a focus on Lofi genre. The label's mission is to provide a platform for artists to showcase their unique sounds and styles and to help them build a dedicated fanbase. Their first artist, T R E K, quickly gained attention for their unique blend of chill, dreamy and nostalgic sounds. Their debut album, "Hazy Days" was a huge success and helped establish the label in the Lofi scene. They also had a successful collaboration with another artist, Railey, which solidified their reputation as a label that experiments with different genres and artists. Despite being new, Jamport is poised to continue making waves in the music industry.</p>
    </div>
    <div style="height: 60vh;" id="Seperator"></div>
</div>