body   { 
	background-color: black; 
	font-family: sans-serif;
    color: white;
}
.MainBody{
    background-color: #1F1E1C;
    text-align: center;
    margin: 0 auto;
    width: 45%;
    margin-top: 2%;

    
}
.Info{
    
    font-family: SpiegelSansUI,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    width: 76%;
    height: 20px;
    text-align: left;
    margin: -1% auto;
    margin-left: 12%;
    font-style: bolt;
    color: darkred;
}
.Intro{
    font-family: SpiegelSansUI,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    width: 76%;
    text-align: left;
    margin: -1% auto;
    margin-left: 12%;
}
.Content{
    font-size: larger;
    font-family: SpiegelSansUI,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    width: 76%;
    text-align: left;
    margin: -1% auto;
    margin-left: 12%;
}
a{
    color: white;
}
.container{
    background-color: #1F1E1C;
    color: #fff;
    padding: 20px 0;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}
.footer_content{
    margin-left: 2%;
    text-align: left
    
}
.coppyright{
    margin-left: 45%;
}
.platz{
    background-color: blue;
    width: 10px;
}
.bbc_div{
    
    position:absolute;
    top:50%;
    left:43%;
    margin-top:-100px;
    margin-left:-250px;
    
}
.bbc{
    text-align: center;
    font-size: 400%;
}
.ip{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-250px;
    text-align: center;
}
.ip_text{
    text-align: center;
    font-size: 200%;
}
.video{
    text-align: center;
    margin: 0 auto;
    width: 45%;
}
#header {
    background-color: #1F1E1C;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    float: center;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 20;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
