<div class="footer">
    <div class="Flex">
        <div class="Block_1">
            <p class="Header">Adress</p>
            <p class="Content">Münsterplatz 21,</p>
            <p class="Content">89073 Ulm</p>
            <div style="height: 20px;"></div>
            <p class="Header">Phone</p>
            <p class="Content">+49 2893 2893</p>
            <div style="height: 20px;"></div>
            <p class="Header">Mail</p>
            <p class="Content">info@jamportlabel.com</p>
        </div>
        <div class="Block_2">
            <img src="assets/images/logo.png" class="logo">
        </div>
        <div class="Block_3">
            <p class="Header">About Us</p>
            <p class="Content">Founded in 2022 by artists Railey and TREK, Jamport supports talented musicians and provides a
                platform for them to publish their music and build their careers. We promote diversity and work closely with our
                artists to help them achieve their goals in the music industry.</p>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div class="Bottom_text">
        <p class="Content">&copy;2023 Jamport</p>
        <p class="Content"><a routerLink="impressum" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="Content">Impressum</a> &nbsp; | &nbsp; <a routerLink="privacy" routerLinkActive="active"
                ariaCurrentWhenActive="page" class="Content">Privacy policy</a></p>
    </div>
    <div style="height: 50px;"></div>
</div>
