<div class="footer">
    <div class="Adresse">
        <p class="txt_Adresse">Adresse:</p>
        <p class="txt_Adresse_cont_1">Big Cock Straße 12 </p>
        <p class="txt_Adresse_cont_2">89081 Ulm</p>
    </div>
    <div class="phone">
        <p class="txt_phone">Phone</p>
        <p class="txt_number">+11 1111 1111111</p>
    </div>
    <div class="mail">
        <p class="txt_mail">Mail</p>
        <p class="txt_mail1">info@jamportlabel.com</p>
    </div>
    <div class="copyright">
    <p class="copyright_text">&copy;2023 Jamport</p>
    </div>
    <img src="assets/images/logo.png" class="logo">
    <div class="nav"> 
        <p class="nav_text"><a href="impressum" routerLinkActive="active" ariaCurrentWhenActive="page" class="Impressum">Impressum</a> &nbsp; | &nbsp; <a href="privacy" routerLinkActive="active" ariaCurrentWhenActive="page" class="privacy">Privacy policy</a></p>
    </div>
    <div class="About">
        <p class="About_head">About Us:</p>
        <p class="About_content">Founded in 2022 by artists Railey and TREK, Jamport supports talented musicians and provides a platform for them to publish their music and build their careers. We promote diversity and work closely with our artists to help them achieve their goals in the music industry.</p>
    </div>
</div>
