.footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img.logo {
    width: 149px;
    height: auto;
    border-radius: 10%;
}
.Flex {
    display: flex;
    width: 93%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.Header{
    font-weight: bolder;
    color: white;
    font-size: 19px;
    margin-bottom: -15px;
}
.Content{
    color: #8D8D8D;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -15px;
    text-decoration: none;
}
.Block_1 {
    text-align: left;
    width: 400px;
}
.Block_3 {
    margin-left: 100px;
    width: 300px;
    text-align: center;
}
.Bottom_text {
    text-align: center;
}