<div class="glint"></div>
<div class="Navbar">
    <img src="assets/images/Jamport_transparent.png" class="Logo" height="50px">
    <div class="Link">
    <a class="Home" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <div class="dropdown">
      <mat-icon class="icon" aria-label="Example home icon">expand_more</mat-icon>
        <button class="dropbtn">Artists </button>
        <div class="dropdown-content">
          <a routerLink="/artist/railey" routerLinkActive="active" ariaCurrentWhenActive="page">Railey</a>
          <a routerLink="/artist/trek" routerLinkActive="active" ariaCurrentWhenActive="page">T R E K</a>
          <a routerLink="/artist/hamie" routerLinkActive="active" ariaCurrentWhenActive="page">hamie</a>
          <a routerLink="/artist/mirage" routerLinkActive="active" ariaCurrentWhenActive="page">M I R A G E</a>
          <a routerLink="/artist/maraville" routerLinkActive="active" ariaCurrentWhenActive="page">Maraville</a>
        </div>
      </div>
    <a class="Contact" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    <a class="Story" routerLink="/story" routerLinkActive="active" ariaCurrentWhenActive="page">Our Story</a>
    </div>
    <div class="wrapper">
      <div class="nav-toggle">
        <div class="icon"></div>
      </div>
    </div>
        <div class=hamburger >
          <div class="dropdown_2">
              <button class="dropbtn_2">
                <svg class="ham hamRotate ham7" viewBox="0 0 100 100" width="50" onclick="this.classList.toggle('active')" id="hamburger">
                  <path
                        class="line top"
                        d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                  <path
                        class="line middle"
                        d="m 70,50 h -40" />
                  <path
                        class="line bottom"
                        d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>
              </button>
              <div class="dropdown_2-content" id="dropdown">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                <a routerLink="/artist/trek" routerLinkActive="active" ariaCurrentWhenActive="page">Artists</a>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                <a routerLink="/story" routerLinkActive="active" ariaCurrentWhenActive="page">Our Story</a>
              </div>
            </div>
        </div>
</div>

