.Contact_Main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 600px;
}
@media (max-width:1817px) {
    .Contact_Main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 40px;
    }
}
.Title{
    position: relative;
    left: 2%;
}

