<div class="scroll">
    <div style="height: 10vh;" id="Seperator"></div>
    
    <div>
        <h1 class="Title" style="color: white;">Contact us:</h1>
        <p style="color: white; position: relative; left: 2%;">If you want to contact us please use the methods below</p>
        <div class="Center_Horizontal">
            <div class="Contact">
                <div class="Tel">
                    <a href="tel:+11 1111 1111111"><mat-icon class="phone" aria-label="Phone_Icon" style="color: white;">phone</mat-icon></a>
                    <a href="tel:+11 1111 1111111" style="text-decoration:none"><p class="Telnumber" style="color: white;">+11 1111 1111111</p></a>
                </div>
                <div class="Mail">
                    <a href="mailto:info@jamportlabel.com"><mat-icon class="mail" aria-label="Mail_Icon" style="color: white;">mail</mat-icon></a>
                    <a href="mailto:info@jamportlabel.com" style="text-decoration:none"><p class="E-Mail" style="color: white;">info@jamportlabel.com</p></a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 60vh;" id="Seperator"></div>
</div>
