.footer{
    width: 100cm;
    height: 618px;
    background-color: blue;
    text-align: center;
}
.logo {
    width: 169px;
    height: 179px;
    border-radius: 10%;
    position: static;
    top: 50%;
    left: 20%;
    text-align: center;
}
