<div class="footer">
    <div class="Adresse">
        <p class="txt_Adresse">Adresse:</p>
        <p class="txt_Adresse_cont_1">Big Cock Straße 12 </p>
        <p class="txt_Adresse_cont_2">89081 Ulm</p>
    </div>
    <div class="phone">
        <p class="txt_phone">Phone</p>
        <p class="txt_number">+49 1578 2841380</p>
    </div>
    <div class="mail">
        <p class="txt_mail">Mail</p>
        <p class="txt_mail1">info@jamportlabel.com</p>
    </div>
    <div class="copyright">
    <p class="copyright_text">2023 Jamport</p>
    </div>
    <mat-icon class = "copyright_logo"aria-label="Example home icon">copyright</mat-icon>
    <img src="assets/images/logo.png" class="logo">
</div>
