:host {
    display: inline-block;
    width: 300px;
    height: 800px;
}
.scroll {
    width: 850px;
    margin-top: 100%;
    margin-left: -265px;
    position: static; 
    top: 50%; 
    left: 50%;
    text-align: center;
}
.temp{
    width: 20px;
    height: 50cm;
    background-color: aqua;
}
