.scroll {
    background-color: black;
    width: auto;
    height: auto;
    margin-top: -100px; 
    margin-left: -470px;
    position: fixed; 
    top: 50%; 
    left: 50%;
    text-align: center;
}
.temp{
    width: 20px;
    height: 50cm;
    background-color: aqua;
}