:host {
    display: inline-block;
    width: 300px;
    height: 800px;
}
.scroll {
    width: 850px;
    height: 100%;
    margin-left: -265px;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}