<div class="scroll">
  <div style="height: 10vh;" id="Seperator"></div>
  
  <div>
      <h1 class="Title" style="color: white;">Privacy-Policy</h1>
      <p style="color: white; position: relative; left: 2%; width: 80%;">
        <strong>Privacy Policy</strong> <br>

        At Jamport, we value your privacy and are committed to protecting it. This privacy policy explains how we collect, use, and disclose your personal information when you use our website.
        <br><br>
        Information Collection
        <br><br>
        We collect information that you voluntarily provide to us through our website, including your name, email address, and any other information that you choose to provide. This information may be collected when you create an account, subscribe to our mailing list, or make a purchase through our website.
        <br><br>
        Use of Information
        <br><br>
        We use your personal information to provide you with a better user experience and to communicate with you about our products, services, and promotions. We may also use your information to personalize your experience on our website and to improve our products and services.
        <br><br>
        Disclosure of Information
        <br><br>
        We do not sell or rent your personal information to third parties. We may disclose your information to third-party service providers who assist us in operating our website, conducting our business, or servicing you. These service providers are contractually obligated to maintain the confidentiality of your information and to use it only for the purpose for which it was disclosed
        <br><br>
        Security of Information
        <br><br>
        We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure, or destruction of your personal information. These measures include internal reviews of our data collection, storage, and processing practices and security measures, as well as physical security measures to guard against unauthorized access to our systems.
        <br><br>
        Changes to Privacy Policy
        <br><br>
        We may update this privacy policy from time to time to reflect changes in our practices and services. We will notify you of any material changes by posting the revised policy on our website. Your continued use of our website following the posting of any changes to this privacy policy constitutes your acceptance of those changes.
        <br><br>
        Contact Us
        <br><br>
        If you have any questions or concerns about our privacy policy, please contact us at <a href="mailto:info@jamportlabel.com" style="color: white;">info@jamportlabel.com</a>.
        This privacy policy was last updated on 09.03.23.</p>
  </div>
  <div style="height: 40vh;" id="Seperator"></div>
</div>