<div class="scroll" id="start">
    <div style="height: 10vh;" id="Seperator"></div>
    <div class="Name">
        <img [src]="artist.img" alt="" height="150px" width="150px">
        <div class="Name_Name">
            <h1 style="color: white; position: relative; top: 12%; transform: translateY(-50);">{{artist.name}}</h1>
            <a [href]="artist.spfy" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/spotify.png" height="30px" width="30px" ></a>
            <a [href]="artist.apl" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/ITunes.png" height="30px" width="30px" ></a>
            <a [href]="artist.amzn" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/Amazon.png" height="30px" width="30px" ></a>
        </div>  
    </div>
    <div>
        <h1 class="Title" style="color: white;">My story</h1>
        <p style="color: white; position: relative; left: 40px; width: 80%;" [innerHTML]="artist.desc.replaceAll('\n','\<br>')"></p>
    <div style="height: 10vh;" id="Seperator"></div>
  </div>
</div>
