.Name{
    position: relative;
    left: 40px;
    display: flex;
    height: 150px;
}

.Name_Name{
    display: flex;
    padding-left: 30px;
    justify-content:left;
    width: auto;
    gap: 4px;
    
    
}
.platforms{
    position: absolute;
    margin-top: 74px;
    left: 180px;
}

.Title{
    position: relative;
    left: 40px;
}