<div class="scroll" id="start">
    <div style="height: 10vh;" id="Seperator"></div>
    <div class="Name">
        <img [src]="artist.img" alt="" height="150px" width="150px">
        <div class="Name_Name">
            <h1 style="color: white; position: relative; top: 12%; transform: translateY(-50);">{{artist.name}}</h1>
            <a href="https://open.spotify.com/artist/1W3u3PSYtoA7OQ3lHpKK7G?si=Ow_1BnYrR02HeAELHgfYVQ" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/spotify.png" height="30px" width="30px" ></a>
            <a href="https://music.apple.com/tz/artist/railey/1596647020" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/ITunes.png" height="30px" width="30px" ></a>
            <a href="https://music.amazon.de/artists/B09MKW2DFT/railey" target="_blank" style="margin-top: -40px; height: 30px; z-index: 99;"><img src="assets/images/Amazon.png" height="30px" width="30px" ></a>
        </div>  
    </div>
    <div>
        <h1 class="Title" style="color: white;">My story</h1>
        <p style="color: white; position: relative; left: 40px; width: 80%;">
            Railey, a lofi artist from Ulm, Germany, started making music as a teenager, experimenting with different sounds and styles. His first release, Horizons was a dreamy, atmospheric track that showcased his ability to create songs that immerse the listener and was just the first demonstration of his potential.
            <br><br>
            As Railey's music evolved, he began to incorporate more live instrumentation into his productions, and his second single, Sunset featured a blend of electronic beats and smooth guitar riffs. He continued to hone his craft with the release of Lounge a downtempo track that perfectly captured the mood of a lazy afternoon spent lounging.
            <br><br>
            Railey's debut album, Memories was a culmination of his diverse influences and experiences. The album featured a mix of electronic and live instrumentation, and its nostalgic, melodic soundscapes transported listeners to a world of dreamy, hazy memories.
            <br><br>
            Railey's subsequent releases, Days and Snowflake showcased his range as a producer, with the former being a downtempo groover that evokes the feeling of a lazy summer's day, and the latter being a more experimental, ambient track.
            <br><br>
            Most recently, Railey was featured on fellow artist T R E K's latest album, Hazy Days. The collaboration resulted in a dreamy, nostalgic track that perfectly captured the vibe of the album's title and solidified Railey as a rising talent in the world of lofi music.
        </p>    
    <div style="height: 10vh;" id="Seperator"></div>
  </div>
</div>
