<div class="scroll">
    <div style="height: 40vh;"></div>
    <div class="Center_Horizontal">
        <div class="Logo" style="height: 24vh;">
            <img src="assets/images/Jamport_transparent.png" style="width: 60vw; height: auto;">
            <p style="font-size: 2.4vw; color: white; margin: 0px;">We help artists to reach their full potential</p>
        </div>
    </div>
    <div style="height: 25vh;"></div>
    <div class="scroll_down" style="height: 5vh;">
        <div class="glint_btn"></div>
        <button class="rounded-button" (click)="roundedClick()" onclick="location.href='#section2'">
            <mat-icon class="down" aria-label="Example home icon">arrow_downward</mat-icon>
        </button>
    </div>
    <div style="height: 6vh;"></div>
    
    <div id="section2"></div>
    <div>
        <h1 class="Title">Our artists:</h1>
        <div class="Center_Horizontal">
            <div class="Artists">
                <div class="Artist">
                    <a href="/artist/trek" class="TREK_img"><img src="assets\images\trek.png" style="height: 150px;"></a>
                    <p class="Artist_Text">T R E K</p>
                </div>
                <div class="Artist">
                    <a href="/artist/railey" class="Railey_img"><img src="assets\images\railey.png" style="height: 150px;"></a>
                    <p class="Artist_Text">Railey</p>
                </div>
                <div class="Artist">
                    <a href="/artist/mirage" class="mirage_img"><img src="assets\images\mirage.png" style="height: 150px;"></a>
                    <p class="Artist_Text">M I R A G E</p>
                </div>
                <div class="Artist">
                    <a href="/artist/maraville" class="maraville_img"><img src="assets\images\maraville.png"
                            style="height: 150px;"></a>
                    <p class="Artist_Text">Maraville</p>
                </div>
                <div class="Artist">
                    <a href="/artist/hamie" class="hamie_img"><img src="assets\images\hamie.png" style="height: 150px;"></a>
                    <p class="Artist_Text">Hamie</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="Title">Latest releases:</h1>
        <div class="Center_Horizontal">
            <div class="Releases">
                <div class="Release">
                    <iframe src="https://www.youtube-nocookie.com/embed/I8GoecmxZPg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="560px" height="315" style="border-radius: 12px;"></iframe>
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/album/73aLkilHSI0bobAaBNFYI6?utm_source=generator" frameBorder="0"
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" width="100%" style="padding-top: 30px;"></iframe>
                </div>
                <div class="Release" style="padding-left: 40px; padding-right: 40px;">
                    <iframe src="https://www.youtube-nocookie.com/embed/saRLzoIbUg8" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="560px" height="315" style="border-radius: 12px;"></iframe>
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/album/3qdxfVK7ckAchV2mc8bLud?utm_source=generator" frameBorder="0"
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" width="100%" style="padding-top: 30px;"></iframe>
                </div>
                <div class="Release">
                    <iframe src="https://www.youtube-nocookie.com/embed/LNlND4UAtCg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="560px" height="315" style="border-radius: 12px;"></iframe>
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/3iCPaFUwbHbDmxN1iBZfLv?utm_source=generator" frameBorder="0"
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" width="100%" style="padding-top: 30px;"></iframe>
                </div>
            </div>
            </div>
        </div>
    <div class="Numbers">
        <div class="glint_num"></div>
        <h1 class="Title">Our label in numbers:</h1>
        <div class="Center_Horizontal">
            <div class="Numbers_Aligned">
                <div class="Number">
                    <h2 class="Numbers_Big">206.459+</h2>
                    <p class="Numbers_Low">generated streams</p>
                </div>
                <div class="Number">
                    <h2 class="Numbers_Big">20</h2>
                    <p class="Numbers_Low">released tracks</p>
                </div>
                <div class="Number">
                    <h2 class="Numbers_Big">5</h2>
                    <p class="Numbers_Low">signed artists</p>
                </div>
            </div>
        </div>
    </div> 
</div>