.scroll {
    height: auto;
    width: 100%;
    position: static;
    margin: 0 auto;
}
.Slogan {
    font-size: 2.4vw;
    color: white;
    margin: 0px;
}

@media (min-width: 1300px) {
    .Slogan {
            font-size: 31.2px;
            color: white;
            margin: 0px;
        }
}

.Logo {
    text-align: center;
    width: 50vw;
    max-width: 640px;
}

.rounded-button {
    background-color: rgb(10, 10, 10);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rounded-button:hover {
    background-color: #242424;
    cursor: pointer;
}

.glint_btn{
    filter: blur(60px);
    border-radius: 500px;
    background-color: #3b48b9b4;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -99;
}

.down{
    color: white;
    display: inline-block;
    margin: 0 auto;
}

.scroll_down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Artists {
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1150px;
    gap: 20px;
}

.Releases {
    display: flex;
    justify-content: center;
    width: 85%;
    gap: 40px;
}
@media (max-width:1817px) {
    .Releases {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 85%;
        gap: 40px;
    }
}

.Artist {
    text-align: center;
}

img {
    max-width: 100%;
}

.Artist_Text {
    color: white;
}

.Title {
    position: relative;
    left: 40px;
    color: white;
}

.Center_Horizontal {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Number {
    text-align: center;
}

.Numbers {
    position: relative;
}

.Numbers_Aligned {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.Numbers_Big {
    color: white;
}

.Numbers_Low {
    color: rgb(156, 156, 156);
}

.glint_num {
    filter: blur(200px);
    border-radius: 500px;
    background-color: #7785ffc5;
    width: 100vw;
    height: 131px;
    position: absolute;
    bottom: 0px;
    z-index: -99;
}